header {
  background-image: url("../images/image.png");

  height: 595px;
  margin: auto;
  width: 100%;
  text-align: center;

  box-sizing: border-box;
}
#textHeader{
  width: 48%;
  color: #000;
  font-weight: 600;
  margin: 2em auto;
}
.spacer{
  height: 35%;

}
