@font-face {
  font-family: "MYRIADPROREGULAR";
  src: url("../../fonts/MYRIADPROREGULAR.eot");
  src: local("MYRIADPROREGULAR"), url("../../fonts/MYRIADPROREGULAR.woff") format("woff"), url("../../fonts/MYRIADPROREGULAR.ttf") format("truetype");
}
