doctype "html5"
html
    head(lang="es")
        title LaserDisc Per&uacute
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width", initial-scale=1, maximum-scale=1)
        link(rel="stylesheet",type="text/css" href="css/index.css")
    body
        nav
            ul
                li: a(href="#") Inicio
                li: a(href="#") Qui&eacutenes Somos
                li: a(href="#") Productos
                li: a(href="#") Packaging
                li: a(href="#") Servicios
                li: a(href="#") Cont&aacutectenos
        header
            .spacer
            img#logoHeader(src="images/logo.png")
            br
            p#textHeader Laser Disc desde 1999 L&iacutederes en Fabricaci&oacuten de discos compactos en Sudam&eacuterica y Centro Am&eacuterica
            a(href="#") Video Institucional
        .separator: img(src="images/line.png")
        section
            h1 QUI&EacuteNES SOMOS
            p
                | Laser Disc L&iacutederes en Fabricaci&oacuten de discos compactos en Sudam&eacuterica y Centro Am&eacuterica perteneciente al Grupo Laser Disc quien cuenta con plantas industriales en Per&uacute, Argentina,Brasil, Chile y Costa Rica. El avance de las nuevas tecnolog&iacuteas marc&oacute siempre nuestra t&oacutenica, en Mastering, Replicaci&oacuten e impresi&oacuten. Hemos sido la primera empresa en instalar nuestra propia planta de Mastering tanto de CDs como DVDs lo que nos permiti&oacute generar todo el proceso desde cero.
            a(href="#") Video Institucional

        .separator: img(src="images/line.png")
        section#products
            h1 PRODUCTOS
            p Somos una empresa especializada en la fabricaci&oacuten de una amplia gama de soportes digitales. Contamos con las m&aacutes modernas instalaciones para ofrecer un producto de alta calidad con tiempos de entrega inmediatos, garantizando las expectativas de nuestros clientes.
            .boxProduct.item
                h2 DVD - VIDEO
                h3 Es la opci&oacuten m&aacutes poderosa en Video Digital.
                ul
                    li DVD 5: con capacidad de 4.7 Gigas.
                    li DVD 9: con capacidad de 8.5 Gigas.
                    li DVD 10: con capacidad de 9.4 Gigas.
                a(href="#") Ver Muestra
            .boxProduct.item
                h2 CD - AUDIO
                h3 Es el formato m&aacutes utilizado y m&aacutes popular para la grabaci&oacuten digital y la reproducci&oacuten de audio (m&uacutesica).
                ul
                    li Capacidad de almacenamiento normal: 74:00 minutos.
                    li Capacidad de almacenamiento m&aacutexima: 80:00 minutos.
                a(href="#") Ver Muestra
            .boxProduct.item
                h2 CD - ROM
                h3 Por su bajo costo y su capacidad de almacenamiento se ha convertido en el formato preferido por los desarrolladores de software, aplicaciones multimedia, de presentaciones corporativas y promocionales, bases de datos y cualquier desarrollo o aplicaci&oacuten que requiera almacenamiento de informaci&oacuten digital.
                ul
                    li Capacidad  de almacenamiento normal: 660 MB.
                    li Di&aacutemetro: 120 mm.
                a(href="#") Ver Muestra
            .boxProduct.item
                h2 CD - EXTRA
                h3 Una combinaci&oacuten que permite agregar a los CDs de audio pistas multimedia, que pueden incluir videos y fotos.
                a(href="#") Ver Muestra
            .boxProduct.item
                h2 CD y DVD - MINI
                h3 Es una variante novedosa del tradicional Compact Disc, con un di&aacutemetro de 80 mm. Este formato abre posibilidades para una presentaci&oacuten m&aacutes atractiva que resulta siendo muy efectiva para la promoci&oacuten de productos y presentaciones corporativas.
                ul
                    li Medidas: 80mm. de di&aacutemetro.
                    li Capacidad de almacenamiento CD MINI 200 MB / 22:30 minutos.
                    li Capacidad de almacenamiento DVD MINI 400 MB.
                a(href="#") Ver Muestra

        .separator: img(src="images/line.png")
        section#packaging
            h1 PACKAGING
            p
                | Servicio de impresi&oacuten y estuches
            .item
                img(src="images/image1.png")
                p Jewell Box
            .item
                img(src="images/image2.png")
                p Slim Box
            .item
                img(src="images/image3.png")
                p DVD Box
            .item
                img(src="images/image4.png")
                p Digipack DVD y Digipack CD
            .item
                img(src="images/image5.png")
                p Sobre cerrado
            .item
                img(src="images/image6.png")
                p Sobre de 2 cuerpos

        .separator: img(src="images/line.png")
        section
            h1 SERVICIOS
            p
                | - Marketing Digital -<br/>
                | - Cuentos interactivos -<br/>
                | - Marketing Digital -<br/>
                | - Animaci&oacuten -<br/>
                | - Juegos a Medida -<br/>
                | - Dise&ntildeo Gr&aacutefico -<br/>
            p Utilizamos las m&aacutes potentes herramientas y lenguajes de desarrollo, e investigamos constantemente las &uacuteltimas tendencias tecnol&oacutegicas que pueden suponer nuevas oportunidades y ventajas para tu negocio
        .separator: img(src="images/line.png")
        section#contact
            h1 CONT&AacuteCTENOS
            form
                fieldset
                    legend Tus datos
                    label(for="name") Name
                    input(type="text", name="name")
                    label(for="email") Email
                    input(type="text", name="email")
                    label(for="cell") Celular
                    input(type="text", name="cell")
                    label(for="message") Mensaje
                    input(type="textarea", name="message")
                    input(type="submit")
        .separator: img(src="images/line.png")
        footer
            p
                |Planta Industrial: Ren&eacutee Descartes 381 Urb. Santa Raquel - Ate - Lima Per&uacute Telf. (511)3480992
                |ldpventas@grupolaserdisc.com





















