doctype "html5"
html
    head(lang="es")
        title LaserDisc Per&uacute
        meta(charset="utf-8")
        link(rel="stylesheet",type="text/css" href="css/index.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Lato:400,700"  type="'text/css")
    body
        #container
            header
                nav
                    ul
                        li: a(href="#") Inicio
                        li: a(href="#") Qui&eacutenes Somos
                        li: a(href="#") Productos
                        li: a(href="#") Packaging
                        li: a(href="#") Servicios
                        li: a(href="#") Cont&aacutectenos
                img#logo(src="images/logo.png")







