doctype "html5"
html
    head(lang="es")
        title LaserDisc Per&uacute
        meta(charset="utf-8")
        meta(name="viewport",content="width=device-width", initial-scale=1, maximum-scale=1)
        link(rel="stylesheet",type="text/css" href="css/index.css")
    body
        nav
            ul
                li: a(href="#") Inicio
                li: a(href="#") Qui&eacutenes Somos
                li: a(href="#") Productos
                li: a(href="#") Packaging
                li: a(href="#") Servicios
                li: a(href="#") Cont&aacutectenos
        header
            img(src="images/logo.png")
            br
            p Laser Disc L&iacutederes en Fabricaci&oacuten de discos compactos en Sudam&eacuterica y Centro Am&eacuterica
        .separator
        section
            h1 QUI&EacuteNES SOMOS
            p
                | Laser Disc L&iacutederes en Fabricaci&oacuten de discos compactos en Sudam&eacuterica y Centro Am&eacuterica perteneciente al Grupo Laser Disc quien cuenta con plantas industriales en Per&uacute, Argentina,Brasil, Chile y Costa Rica. El avance de las nuevas tecnolog&iacuteas marc&oacute siempre nuestra t&oacutenica, en Mastering, Replicaci&oacuten e impresi&oacuten. Hemos sido la primera empresa en instalar nuestra propia planta de Mastering tanto de CDs como DVDs lo que nos permiti&oacute generar todo el proceso desde cero.
            img(src="images/play.png")
            p Video Institucional
        .separator
        section
            h1 NUESTROS PRODUCTOS
            p Somos una empresa especializada en la fabricación de una amplia gama de soportes digitales. Contamos con las más modernas instalaciones para ofrecer un producto de alta calidad con tiempos de entrega inmediatos, garantizando las expectativas de nuestros clientes.
            .boxProduct
                h1 DVD - VIDEO
                ul
                    li Es la opción más poderosa en Video Digital.
                    li DVD 5: con capacidad de 4.7 Gigas.
                    li DVD 9: con capacidad de 8.5 Gigas.
                    li DVD 10: con capacidad de 9.4 Gigas.
            .boxProduct
                h1 CD - AUDIO
                ul
                    li Es el formato más utilizado y más popular para la grabación digital y la reproducción de audio (música).
                    li Capacidad de almacenamiento normal: 74:00 minutos.
                    li Capacidad de almacenamiento máxima: 80:00 minutos.

            .boxProduct
                h1 CD - ROM
                ul
                    li Por su bajo costo y su capacidad de almacenamiento se ha convertido en el formato preferido por los desarrolladores de software, aplicaciones multimedia, de presentaciones corporativas y promocionales, bases de datos y cualquier desarrollo o aplicación que requiera almacenamiento de información digital.
                    li Capacidad  de almacenamiento normal: 660 MB.
                    li Diámetro: 120 mm.

















